<% title "Providers" %>

<div class="span6">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= t("app.form.name") %></th>
        <th><%= t("app.form.description") %></th>
        <th><%= t("app.form.manager") %></th>
        <th><%= t("app.form.event_count") %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for provider in @providers %>
        <tr>
          <td><%= provider.name %></td>
          <td><%= provider.description %></td>
          <td><%= link_to provider.manager.name, user_path(provider.manager_id) %></td>
          <td><%= provider.provided_events.count %></td>
          <%= raw show_or_hide_links provider %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p class="span2"><%= link_to "New provider", new_user_provider_path(current_user), :class => 'btn btn-mini' if can? :create, Provider and @all_action != true %></p>
