<h2><%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical span8', :multipart => true }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true, :required => true, :label => t("app.sign_up.name") %>
  <%= f.input :email, :required => true, :label => t("app.sign_up.email") %>
  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false, :label => t("app.sign_up.passwd") %>
  <%= f.input :password_confirmation, :required => false, :label => t("app.sign_up.passwd_conf") %>
  <%= f.input :current_password, :hint => t("app.sign_up.change_password"), :required => true, :label => t("app.sign_up.current_passwd") %>
  <%= image_tag resource.avatar.url(:thumb) if resource.avatar.present? %>
  <%= f.file_field :avatar, :label => t("app.sign_up.avatar") %>
  <br/><br/>
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
<%= link_to "Back", :back %>
