<h2><%= t("app.signup") %></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical span6', :multipart => true }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <% resource.name = nil; resource.email = nil %>
  <%= f.input :name, :autofocus => true, :required => true, :label => t("app.sign_up.name") %>
  <%= f.input :email, :required => true, :label => t("app.sign_up.email") %>
  <%= f.input :password, :required => true, :label => t("app.sign_up.passwd") %>
  <%= f.input :password_confirmation, :required => true, :label => t("app.sign_up.passwd_conf") %>
  <%= f.label t("app.sign_up.avatar") %>
  <%= f.file_field :avatar %>
  <br/>
  <br/>
  <%= f.button :submit, t("app.signup"), :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
