<% content_for :head do %>
<%= javascript_include_tag "form" %>
<% end %>
<%= simple_form_for [current_user, @personal_event] do |f| %>
  <legend><%= t "app.titles.personal_event" %></legend>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.input :time, :as => :datetime_picker %>
    <%= init_datetime_picker %>
    
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </p>
  <p>
    <%= f.label :visibility %><br />
    <%= f.number_field :visibility %>
  </p>
  <p>
    <%= f.hidden_field :owner_id %>
  </p>
  <p><%= f.submit "Save" %></p>
<% end %>