<% t("app.form.events") %>

<table>
  <tr>
    <th><%= t("app.form.name") %></th>
        <th><%= t("app.form.location") %></th>
        <th><%= t("app.form.description") %></th>
        <th><%= t("app.form.time") %></th>
        <th><%= t("app.form.duration") %></th>
        <th><%= t("app.form.visibility") %></th>
  </tr>
  <% for event in @provided_events %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.location %></td>
      <td><%= event.description %></td>
      <td><%= event.time %></td>
      <td><%= event.duration %></td>
      <td><%= event.visibility %></td>
      <td><%= link_to "Show", [@provider, event] %></td>
      <td><%= link_to "Edit", edit_provider_provided_event_path(@provider, event) %></td>
      <td><%= link_to "Destroy", [@provider, event], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_provider_provided_event_path(@provider) %></p>
