<h3><%= t("app.followers")%></h3>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t("app.form.username") %></th>
      <th><%= t("app.form.email") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @followers.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>