<div class="tabbable">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#attended-events" data-toggle="tab"><%= t("app.attended_events") %></a>
    </li>
    <li>
      <a href="#focused-events" data-toggle="tab"><%= t("app.focused_events") %></a>
    </li>
  </ul>
  <% content_for :notice_message do %>
    <%= notice_message %>
  <% end %>
  <%= yield(:notice_message) %>
  <div class="tab-content">
    <div id="attended-events" class="tab-pane active">
      <%= render "table", :events => attended_events %>
    </div>
    <div id="focused-events" class="tab-pane">
      <%= render "table", :events => focused_events %>
    </div>
  </div>
</div>
